.login {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login_container {
    padding: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2),
                0 5px 30px rgba(0, 0, 0, 0.3);
}
.login_container img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}
.login_container button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0eae59;
    color: white;
    padding: 8px 20px;
}
.login_container button:hover{
    background-color: #0eae59;
}