.app {
    display:grid;
    place-items: center;
    height:100vh;
}
.app_body {
    display: flex;
    background-color: #ededed;
    margin-top: -10px;
    height: 90vh;
    width: 90vw;
    box-shadow: -2px 6px 20px -6px rgba(0,0,0,0.9);
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
    display: none;
}
/* ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
}
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
} */

